.btn-wrapper {
  margin: 20px;
  text-align: end;
}

.list-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

  gap: 20px;

  li {
    list-style-type: none;
    text-align: center;
    position: relative;
  }
  li h4 {
    position: absolute;
    color: #FFFFFF;
    bottom: 150px;
    left: 122px;
    width: 50%;
  }
}

.icon {
  margin-left: 10px;
}